body {
    margin-top: 1vw;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    gap: 2%;
    justify-content: center;
}

.grid-item {
    text-align: center;
    background-color: #9de4ee;
    border-radius: 10px;
    padding: 10px;
}


.grid-item img {
    width: 100%;
    height: auto;
}

.pagination-buttons {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 5vw;
    text-align: center;
}

.pagination-buttons button {
    background-color: #5aad15;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-buttons span {
    font-size: 18px;
    margin-top: 20%;
    font-weight: bold;
    white-space: nowrap;
}

.pagination-buttons button:hover {
    background-color: #5da7ff;
}

.main-layout {
    display: flex;
    margin-top: 1%;
}

.sidebar {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-left: 1%;
    height: fit-content;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.sidebar ol {
    list-style: decimal;
    padding-left: 20px;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 65%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}