body{
    margin: 0;
    background-color: aliceblue;
    font-family: Arial, sans-serif;
}

button{
    padding: 8px 16px;
    background-color: #66dbdb;
    border: none;
    /*max-width: 50%;*/
    border-radius: 4px;
    color: #232F3E;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.photo-del-select-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin: 10px 0;
}

.photo-del-option {
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s ease;
}

.photo-del-option.selected {
    opacity: 0.4;
    border-color: #40ff15;
}

.photo-del-option img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.title{
    text-align: center;
}

/* Image formatting */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.image {
    text-decoration: none;
    color: #333333;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: translateY(-5px);
}

.image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.imageInfo {
    padding: 8px;
}

.imageInfo h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.topArea {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
