form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
}

.formHead {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}


.uploadForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.formElement{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#place{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#place input{
    flex: 1;
}

#delete{
    background-color: #ee1111;
    color: #ffffff;
}

.popup {
    display: none;
    position: fixed;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: auto;
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.drop-area.drag-over {
    background: lightgray;
}

.empty-message {
    grid-column: 1 / -1;
    background-color: #fff5cc;
    color: #a67c00;
    padding: 12px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

.message-read {
    background-color: #2cdc4f;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.message-read:hover {
    background-color: #1f7a7a;
    color: white;
}

.ertesites-sor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem 0;
}

.ertesites-szoveg {
    flex: 1;
    max-width: 80%;
}

.ertesites-lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-height: 400px;       /* vagy amekkora jól néz ki */
    overflow-y: auto;
    padding-right: 10px;     /* hogy ne vágja le a görgetőt */
}